<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Shareable Form </title>
  </head>

  <body>
    <h1>Shareable Form</h1>
    
    <form action="/form" method="post">

      <%for (var i = 0; i < questionsInForm.length; i++) {%>
        <%var question_number = "question" + toString(i);%>
        <label for= <% question_number %> > <%= questionsInForm[i] %> </label><br />
        <input
          type="text"
          name=<% question_number %>
          id=<% question_number %>
          placeholder="Type response"
        /><br />
        <br />
      <%}%>

      <input type="submit" value="Submit" />
    </form>
  </body>
</html>